:root {
  --primary: #310a90;
  --gradient: linear-gradient(45deg, #fad7a1 0%, #e96d71 100%);
  --white: #ffffff;
  --gradient: linear-gradient(45deg, #72edf2 0%, #5151e5 100%);
  --headline1: 700 5.9375rem/9.6068754196167rem Poppins;
  --headline2: 700 3.6875rem/5.96637487411499rem Poppins;
  --headline3: 700 3rem/4.854000091552734rem Poppins;
  --headline4: 700 2.125rem/3.4382500648498535rem Poppins;
  --headline5: 700 1.5rem/2.427000045776367rem Poppins;
  --body1: 400 1rem/1.6180000305175781rem Poppins;
  --body2: 400 0.875rem/1.4157500267028809rem Poppins;
  --button: 700 0.875rem/1.4157500267028809rem Poppins;
  --caption: 400 0.75rem/1.2135000228881836rem Poppins;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  color: var(--primary);
  background: var(--gradient) no-repeat;
  /* background-color: var(--primary); */
  /* font: var(--headline2); */
}

.btn {
  padding: 13px 24px;
  border-radius: 4px;
  font-weight: 700;
  transition: 300ms;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  font: var(--button);
  letter-spacing: 2px;
}

.btn:active {
  transform: scale(0.9);
}

.primary {
  background: var(--primary);
  color: var(--white);
}

.secondary {
  background: transparent;
  border: 2px solid var(--primary);
  color: var(--primary);
}

.links {
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.links .link {
  border: 2px solid var(--primary);
  background: var(--white);
  border-radius: 4px;
  padding: 13px;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font: var(--headline4);
  background: var(--primary);
  color: var(--white);
  padding: 4px 8px;
  display: inline-block;
  margin-bottom: 16px;
  box-shadow: -4px 4px 0px 0px var(--white);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  height: 97px;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo a {
  text-decoration: none;
  color: var(--primary);
  font: var(--headline5);
  font-weight: 900;
}

.header .menu ul {
  padding: 0;
  margin: 0;
}

.header .menu ul li {
  list-style-type: none;
  display: inline-block;
}

.header .menu ul li a {
  text-decoration: none;
  font: var(--body2);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white);
  margin-right: 40px;
}

.header .menu ul li a.active {
  color: var(--primary);
}

.header .menu ul li a:hover {
  border-bottom: 2px solid currentColor;
}

.hero .main {
  max-width: 543px;
  display: inline-block;
  margin-top: 24px;
  min-height: 500px;
}

.hero .main h5 {
  font: var(--headline5);
}

.hero .main h2 {
  font: var(--headline2);
  margin-bottom: 16px;
}

.hero .main p {
  font: var(--body1);
  margin-bottom: 16px;
}

.hero .profile-picture {
  float: right;
}

.hero .profile-picture .back {
  background: #6f34fe;
  width: 500px;
  height: 500px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.hero .profile-picture .front {
  background: var(--white);
  width: 100%;
  height: 88px;
  position: absolute;
  bottom: 0;
}

.hero .profile-picture img {
  position: absolute;
  bottom: 0;
}

.section1 {
  padding: 200px 0;
  text-align: center;
}

.section1 .first {
  max-width: 900px;
  font: 300 2.125rem 'Oxygen';
  margin: 0 auto;
  margin-bottom: 24px;
}

.section1 .second {
  font: var(--headline5);
  margin-bottom: 24px;
}

.section1 .next img {
  width: 80px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project .data p {
  font: var(--body1);
  margin-bottom: 16px;
}

.project .data .buttons .primary {
  margin-right: 16px;
}

.comment {
  padding: 80px 75px;
}

.comment .container {
  background: #ffffff33;
  border-radius: 24px;
}

.comment .container .content {
  padding: 80px 30px;
  text-align: center;
}

.comment .container .content p {
  font: 700 2.125rem 'Oxygen';
  text-align: center;
  margin-bottom: 30px;
}

.comment .container .content h5 {
  font: var(--headline5);
  opacity: 0.5;
}

.contact-us .content {
  max-width: 500px;
  margin: 0 auto;
}

.contact-us .content .title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.contact-us .content p {
  color: white;
  text-align: center;
  font: var(--body1);
}

.contact-us .content form {
  padding: 24px 0 80px;
}

.contact-us .content form button {
  width: 100%;
}

.form-field {
  margin-bottom: 1rem;
}

.form-field label {
  display: block;
  font: var(--body1);
  font-weight: 700;
  margin-left: 1rem;
  margin-bottom: 8px;
}

.form-field input,
.form-field textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #858c94;
  padding: 12px 16px;
  line-height: 26px;
  outline: none;
  font: var(--body1);
}

.footer {
  height: 83px;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .text {
  font: var(--body1);
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.footer .text img {
  width: 20px;
}

.footer .logo {
  font: var(--headline5);
  font-weight: 900;
}
